<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <title>index</title>
 </head>
 <body>
  
  index.html
  <br><br>
  
<a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
<br><br>

<span sec:authorize="isAuthenticated()">
	아이디 : <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
	<hr>
	디비에서 추출
	<table border="1">
	<tr>
	<td>아이디</td><td th:text="${memberVO.uid}"></td>
	</tr>
	<tr>
	<td>패스워드</td><td th:text="${memberVO.password}"></td>
	</tr>
	<tr>
	<td>이름</td><td th:text="${memberVO.uname}"></td>
	</tr>
	<tr>
	<td>이메일</td><td th:text="${memberVO.email}"></td>
	</tr>
</span>
     
  
 </body>
</html>
